.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  color: var(--black);
}

.input-container input {
  padding: 0.25rem 0.5rem;
  border: 0;
  border-radius: 0.125rem;
  outline: none;
}


.input-container input::placeholder, .input-container input  {
  color: var(--black);
}