:root {
  --dark-red: #8B0000;
  --bright-red: #FF0000;
  --deep-yellow: #FFD700;
  --light-yellow: #FFFF00;
  --deep-blue: #00008B;
  --sky-blue: #87CEEB;
  --deep-green: #006400;
  --light-green: #90EE90;
  --black: #000000;
  --white: #eaeaea;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
  font-family: 'Poppins';
  color: var(--deep-yellow);
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
}